@charset "windows-1251";
body{margin:0px;padding:0px 0px 15px 0px;background:#0066CC url(/images/system/gr.jpg) repeat-x top;width: 100%;}
img{border:none;}
td{font:13px Tahoma;color:#030200;}
h1{font: bold 15px Tahoma;color:#4486D5;margin:0px 0px 10px 0px;padding:0px;}
h2{font: bold 15px Tahoma;color:#4486D5;margin:0px 0px 10px 0px;padding:0px;}

#main{width:980px;text-align:left;}
#top{background: url(/images/system/top.jpg?=3) no-repeat left top;color:#ffffff;height:110px;}
#t_text{text-align:left;padding:36px 0px 0px 730px;font-weight:bold;color: #ffffff;}
#menu{background: url(/images/system/menu_gr.jpg) repeat-x top;border-left:1px solid #ffffff;border-right:1px solid #ffffff;height:35px;}
#menu2{padding:5px 0px 0px 13px;font: bold 13px Tahoma;color:#ffffff;} 
#text{background-color:#ffffff;padding:15px;}
#t1{width:274px;text-align:left;vertical-align:top;padding-right:30px;}
#t2{text-align:left;vertical-align:top;} 
#m1{margin-bottom:10px;background: url(/images/system/m1.jpg) no-repeat left top;border-bottom:1px dashed #999999;padding:3px 0px 10px 10px;}  	   
#m1_sel{margin-bottom:10px;border-bottom:1px dashed #999999;padding:3px 0px 10px 0px;} 
#bzagl{font: bold 13px Tahoma;color:#363636;padding:20px 0px 10px 10px;}
#newsd{font-weight:bold;color:#4486D5;padding:20px 0px 10px 10px;}
#newst{padding:0px 0px 0px 10px;border-left:2px solid #4486D5;color:#555555;font:11px Tahoma;text-align:justify;}
#newsdate{font-weight:bold;color:#4486D5;padding:20px 0px 10px 10px;}
#newstext{padding:0px 0px 0px 10px;border-left:2px solid #4486D5;color:#555555;font:15px Tahoma;text-align:justify;}
#news_more{background: url(/images/system/news_pic.jpg) no-repeat 0px 3px;padding:0px 0px 10px 15px;margin-top:20px;}
#foot{background: url(/images/system/foot.jpg) no-repeat left top;color:#ffffff;height:36px;} 
#foot2{padding:5px 0px 0px 10px;font:10px Tahoma;color:#ffffff;}	
#zagl{font: bold 15px Tahoma;color:#4486D5;margin:0px 0px 10px 0px;padding:0px;}
																				 
#cat_div{background-color:#C6C4C4;}
#cat_t1{text-align:center;vertical-align:middle;padding:3px 0px 3px 0px;background-color:#ADD4FC;font:bold 10px Tahoma;}	  
#cat_t2{background-color:#ffffff;text-align:center;vertical-align:middle;padding:3px 0px 3px 3px;font:10px Tahoma;} 
#cat_t3{background-color:#E2F5E5;text-align:center;vertical-align:middle;padding:3px 0px 3px 3px;font:10px Tahoma;}	 
#cat_t4{background-color:#ffffff;text-align:left;vertical-align:middle;padding:3px 0px 3px 0px;font:10px Tahoma;}
.cat_price{color:#F32946;}		 
.imgl{float:left;margin:0px 20px 20px 0px;}
#icat_div{background-color:#ADD4FC;width:450px;}  
#icat_t1{background-color:#ffffff;text-align:center;width:58px;font:11px Tahoma;padding:3px 0px 3px 0px;}  
#icat_t1 img{border:1px solid #ADD4FC;}
#icat_t2{background-color:#ffffff;text-align:left;vertical-align:middle;padding:6px 0px 6px 6px;font:11px Tahoma;}

   
a.cat, a.cat:visited{font:11px Tahoma;color:#0066CC;text-decoration:underline;}
a.cat:hover{font:11px Tahoma;color:#0066CC;text-decoration:none;}
a.cat2, a.cat2:visited{font:bold 16px Tahoma;color:#0066CC;text-decoration:underline;}
a.cat2:hover{font:bold 16px Tahoma;color:#0066CC;text-decoration:none;}		
a, a:visited{font:13px Tahoma;color:#0066CC;text-decoration:underline;}
a:hover{font:13px Tahoma;color:#0066CC;text-decoration:none;}
a.top, a.top:visited{color:#ffffff;text-decoration:underline;font-weight:bold}
a.top:hover{color:#ffffff;text-decoration:none;font-weight:bold}
a.menu, a.menu:visited{font: bold 13px Tahoma;color:#ffffff;text-decoration:underline;}
a.menu:hover{font: bold 13px Tahoma;color:#ffffff;text-decoration:none;}
a.menu2, a.menu2:visited{font:13px Tahoma;color:#030200;text-decoration:underline;}
a.menu2:hover{font:13px Tahoma;color:#030200;text-decoration:none;}	
a.news_more, a.news_more:visited{font:bold 13px Tahoma;color:#434343;text-decoration:underline;}
a.news_more:hover{font:bold 13px Tahoma;color:#434343;text-decoration:none;}  
a.nmore, a.nmore:visited{color:#555555;font:11px Tahoma;text-decoration:underline;}
a.nmore:hover{color:#555555;font:11px Tahoma;text-decoration:none;}    


#top_blok{border:1px solid #000000;margin-top:10px;background: #B2AFA5 url(/images/system/g_top.jpg) repeat-x top;}
#blok1{text-align:left;vertical-align:top;font-family:Tahoma;font-size:11px;color:#ffffff;font-weight:bold;padding:2px 0px 0px 4px;width:380px;}
#blok2{text-align:right;vertical-align:middle;padding:0px 28px 0px 0px;font-family:Tahoma;font-size:14px;color:#ffffff;font-weight:bold;}
#blok3{height:36px;text-align:left;vertical-align:middle;padding-left:10px;background-color:#AFC61D;font-family:Tahoma;font-size:12px;color:#ffffff;font-weight:bold;}
#blok4{text-align:center;vertical-align:middle;}
#blok5{text-align:left;vertical-align:top;padding-top:10px;padding-bottom:10px;font-family:Tahoma;font-size:12px;color:#ffffff;}
#adv{height:93px;padding-top:3px;text-align:center;}
#razd_con{height:20px;}
#news_blok{padding:0px 15px 0px 0px;border-right:1px solid #7C7C7C;vertical-align:top;}
#news_zagl{padding-left:11px;font-family:Tahoma;font-size:18px;color:#363636;}
#news_data{font-family:Tahoma;font-size:11px;color:#91A700;font-weight:bold;padding-bottom:10px;}
#news_text{padding-left:10px;border-left:1px solid #AFC61D;width:177px;}
#news_razd{background: url(/images/system/menu.gif) repeat-x bottom;height:30px;}
#read_more1{background: url(/images/system/news.jpg) no-repeat 0px 2px;padding-left:15px;width:130px;}
#read_more2{background: url(/images/system/news_more.gif) repeat-x bottom;}	
#main_content{padding:0px 0px 0px 15px;vertical-align:top;text-align:left;}
#sert{font-family:tahoma;font-size:10px;color:#555555;}
#t_bg{background: url(/images/ban.jpg) no-repeat 6px 0px;}
#dop_zagl{font-family:Tahoma;font-size:15px;color:#2870E7;font-weight:bold;}   
#order_td1{padding:8px 30px 8px 0px;text-align:right;}
#order_td2{padding:3px 0px 03px 0px;text-align:left;}
#cat_td1{background-color:#C6CBE1;text-align:center;padding:3px 0px 3px 0px;}
#cat_td2{background-color:#ffffff;text-align:left;padding:3px 0px 3px 15px;width:80%;}
#cat_td3{background-color:#ffffff;text-align:center;width:20%;padding:3px 0px 3px 0px;}

a.mail, a.mail:visited {font-family:tahoma;font-size:13px;color:#ffffff;text-decoration:underline;font-weight:normal;}
a.mail:hover{font-family:tahoma;font-size:13px;color:#ffffff;text-decoration:none;font-weight:normal;}
a.cat_a, a.cat_a:hover, a.cat_a:visited {font-family:tahoma;font-size:12px;color:#2870E7;text-decoration:none;}
a.cat_z, a.cat_z:hover, a.cat_z:visited {font-family:tahoma;font-size:14px;color:#555555;text-decoration:underline;}
a.par, a.par:visited {font-family:Tahoma;font-size:18px;color:#91A700;text-decoration:underline}
a.par:hover {font-family:Tahoma;font-size:18px;color:#91A700;text-decoration:none}


